.form-azul {
    background-color: blue;
}

.form-center{
    position: absolute;
    height: 50px;
    width: 50px;
    background:red;
    top:calc(50% - 25px/2); /* height divided by 2*/
    left:calc(50% - 175px/2); /* width divided by 2*/
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.contentpane {
    height: 100%;
}