<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg justify-content-between">
    <div class="row paddingleft10px">
        <img class="navbar-brand mppelogo" src="assets/MPVan.Logo.3.jpeg" alt="logo">
        <h1 class="navbar-brand">{{ title }}</h1>
    </div>
    <div class="row">
        <button class="btn btn-outline-primary btn-sm" (click)="atualizar()">Atualizar {{timer}}s</button>
    </div>
    <div class="row form-login paddingright10px">
        <form class="form-inline my-2 my-lg-0">
            <span class="navbar-text greeting paddingright10px"></span>
            <button class="btn btn-outline-success btn-sm" type="submit">Sair</button>
        </form>
    </div>
</nav>

<div class="map-wrapper">
    <agm-map class="angular-google-map-container" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [fitBounds]="true">
        <agm-marker *ngFor="let veiculo of veiculos; let i = index"
                [latitude]="veiculo.marker.lat"
                [longitude]="veiculo.marker.lng"
                [label]="veiculo.marker.label"
                [iconUrl]="veiculo.marker.iconUrl"
                [markerDraggable]="false">
            <agm-info-window>
                <strong>Informações</strong><br><br>
                Motorista: {{veiculo.motorista.nome}}<br>
                Placa: {{veiculo.placa}}<br>
                Rota: {{veiculo.rota}}<br>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>

<div class="floating-box">
    <table class="table table-white table-sm table-hover">
        <tbody>
            <tr *ngFor="let veiculo of veiculos" (click)="centerMap( veiculo )">
                <th scope="row">{{ veiculo.placa }}</th>
                <td>{{ veiculo.nome }}</td>
                <td>{{ veiculo.label }}</td>
                <td>{{ veiculo.rota }}</td>
            </tr>
        </tbody>
    </table>
</div>
