.navbar {
    z-index: 2;
    height: 61px;
    border-bottom: 1px solid;
}

.btn{
    white-space: normal !important;
    max-width: 1000px;
}

.map-wrapper {
    position: relative;
    height: calc( 100vh - 4em - 0px );
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

agm-map {
    height: 100%;
    height: calc( 100% - 0px);
}

.mppelogo {
    /* width: 100px;
    height: 49px; */
    margin: 0px 0px 0px -15px;
}

.paddingleft10px {
    padding-left: 10px;
}

.paddingright10px {
    padding-right: 10px;
}

.floating-box {
    position: absolute;
    z-index: 6;
    right: 50px;
    top: 80px;
    /* background: white; */
    padding: 5px;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.table-white {
    color: #212529;
    background-color: #fff;
}
  