<legend>Abertura de Chamado</legend>

<div class="well">

    <form class="form" name="requestForm">

        <fieldset>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="category">Categoria:</label>
                    <span class="form-control" id="category">{{ parentService.name }}</span>
                </div>
            </div>

            <br>

            <div class="row">

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                    <label for="type">Tipo de ocorrência:</label>

                    <div class="form-group form-group-sm">
                        <label class="radio-inline">
                            <div class="" uib-tooltip="Algo não funciona" tooltip-placement="right" tooltip-class="customClass">
                                <input type="radio" id="type-I" name="type" ng-model="request.type" value="I" ng-required="true" ng-change="typeSelection( parentService.id, request.type )"> Incidente
                            </div>
                        </label>

                        <label class="radio-inline">
                            <div class="" uib-tooltip="Quero pedir algo" tooltip-placement="right" tooltip-class="customClass">
                                <input type="radio" id="type-R" name="type" ng-model="request.type" value="R" ng-required="true" ng-change="typeSelection( parentService.id, request.type )"> Requisição
                            </div>
                        </label>

                        <div ng-messages="requestForm.type.$error" role="alert">
                            <div ng-message="required" class="mensagem">Selecione um tipo de ocorrência</div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

                    <div class="form-group form-group-sm">
                        <label for="service">Serviço:</label>
                        <select class="form-control" id="service" name="service" ng-model="request.service" ng-options="service as service.name for service in services" ng-disabled="! services || services.length === 0" ng-required="true">
                            <option value="" disabled selected>(Selecione um tipo de ocorrência primeiro e depois um serviço)</option>
                        </select>

                        <div ng-messages="requestForm.service.$error" role="alert">
                            <div ng-message="required" class="mensagem">Selecione um serviço</div>
                        </div>
                    </div>

                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group form-group-sm">
                        <label for="description">Descrição da solicitação ou problema:</label>
                        <textarea id="description" name="description" rows="10" class="form-control" style="resize: none;" placeholder="Descrição" ng-model="request.description" ng-required="true"></textarea>

                        <div ng-messages="requestForm.description.$error" role="alert">
                            <div ng-message="required" class="mensagem">Informe uma descrição</div>
                        </div>
                    </div>
                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label for="tombo">Tombo do equipamento (opcional):</label>
                        <input type="text" id="tombo" name="tombo" class="form-control" placeholder="Tombo" ng-model="request.tombo">
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label for="phone">Telefone para contato:</label>
                        <input type="text" id="phone" name="phone" class="form-control" placeholder="(XX) XXXX-XXXX" ng-model="request.phone" ng-required="true" ui-br-phone-number>

                        <div ng-messages="requestForm.phone.$error" role="alert">
                            <div ng-message="required" class="mensagem">Informe um número de telefone</div>
                            <div ng-message="brPhoneNumber" class="mensagem">Informe um número de telefone válido</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                    <div class="form-group form-group-sm">
                        <label for="unit">Unidade:</label>
                        <select class="form-control" id="unit" name="unit" ng-model="request.unit" ng-options="unit as unit.name for unit in units track by unit.id" ng-change="unitSelection( request.unit )" ng-required="true">
                            <option value="">(Selecione uma unidade)</option>
                        </select>

                        <div ng-messages="requestForm.unit.$error" role="alert">
                            <div ng-message="required" class="mensagem">Selecione uma unidade</div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                    <div class="form-group form-group-sm">
                        <label for="unit">Localidade Física (Setor):</label>
                        <select class="form-control" id="local" name="local" ng-model="request.local" ng-options="local as local.name for local in locals track by local.id" ng-disabled="! locals || locals.length === 0">
                        <!-- <select class="form-control" id="local" name="local" ng-model="request.local" ng-options="local as local.name for local in locals track by local.id" ng-disabled="! locals || locals.length === 0" ng-show="!locals || locals.length !== 0"> -->
                            <!-- <option value="">(Selecione uma unidade primeiro e depois uma localidade física)</option> -->
                            <option value="">{{ localidadePlaceholder }}</option>
                        </select>
                        <!-- <span class="form-control" ng-show="locals && locals.length === 0">Nenhuma Localidade Física Cadastrada Para a Unidade Selecionada</span> -->
                    </div>

                </div>

            </div>

        </fieldset>

        <button class="btn btn-primary" type="button" ng-click="save( request )" ng-disabled="requestForm.$invalid">Enviar</button>

    </form>

</div>
