<h2>{{ sessionID }}</h2>

<form class="form">

    <fieldset>
        <legend>Chamado</legend>

        <div class="row">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group form-group-sm">
                    <label for="number">Número</label>
                    <span id="number" class="form-control">{{ request.number }}</span>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group form-group-sm">
                    <label for="type">Tipo de Solicitação</label>
                    <span id="type" class="form-control">{{ tipos[ request.type ] }}</span>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group form-group-sm">
                    <label for="status.name">Situação</label>
                    <span id="status.name" class="form-control">{{ request.status.name }}</span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group form-group-sm">
                    <label for="category">Categoria</label>
                    <span id="category" rows="5" class="form-control">{{ request.service.category.name }}</span>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group form-group-sm">
                    <label for="service">Serviço</label>
                    <span id="service" rows="5" class="form-control">{{ request.service.name }}</span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group form-group-sm">
                    <label for="description">Descrição</label>
                    <div id="description" class="form-control" style="min-height: 102px; height: auto;" ng-bind-html="listRequest.description"></div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group form-group-sm">
                    <label for="startDateTime">Data de Abertura</label>
                    <span id="startDateTime" class="form-control">{{ request.startDateTime | amDateFormat : 'DD/MM/YYYY HH:mm' }}</span>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group form-group-sm">
                    <label for="endDateTime">Data de Encerramento</label>
                    <span id="endDateTime" class="form-control">{{ request.endDateTime | amDateFormat : 'DD/MM/YYYY HH:mm' }}</span>
                </div>
            </div>

        </div>
    </fieldset>

    <fieldset>
        <legend>Progresso do Atendimento</legend>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <table class="col-sm-12 table table-striped">

                    <thead>
                        <tr>
                            <th style="width : 10%;">Data</th>
                            <th style="width : 10%;">Hora</th>
                            <th style="width : 10%;">Usuário</th>
                            <th style="width : *;">Descrição</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="occurrence in occurrences">
                            <td>{{ occurrence.date | amDateFormat : 'DD/MM/YYYY' }}</td>
                            <td>{{ occurrence.hour }}</td>
                            <td>{{ occurrence.userID }}</td>
                            <td>{{ occurrence.description }}</td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </fieldset>

</form>
