<hr>
<div class="custom">
    <p class="pull-left">
        <img src="img/logomppefooter.png" width="115" height="60">
    </p>

    <p class="pull-right" style="text-align: right;">
        <b>Roberto Lira - Edifício Sede</b><br>
        Rua Imperador Dom Pedro II, 473<br>
        Santo Antonio - Recife / PE<br>
        Fone: (81) 3182-7000
    </p>
</div>
