<table class="table table-hover table-striped">

    <thead>
        <tr>
            <th style="width : 10%;">Número</th>
            <th style="width : 15%;">Data de Abertura</th>
            <th style="width : *;">Descrição</th>
            <th style="width : 15%;">Situação</th>
            <th style="width : 10%;">Tipo</th>
        </tr>
    </thead>

    <tbody>

        <tr class="linhaclicavel" ng-repeat="request in requests" ng-click="navigate( $event, 'root.detalhe', { request : request } )">
            <td>{{ request.number }}</td>
            <td>{{ request.startDateTime | amDateFormat : 'DD/MM/YYYY HH:mm' }}</td>
            <td>
                <div ng-bind-html="request.description">
                </div>
            </td>
            <td>{{ situacoes[ request.statusId ] }}</td>
            <td>{{ tipos[ request.type ] }}</td>
        </tr>

    </tbody>

</table>
