<div class="row">
    <div class="Absolute-Center is-Responsive">
        <div class="logo-container">
            <img alt="logo" src="img/logo.jpg">
        </div>

        <div class="col-sm-8 col-md-8 col-md-offset-2">
            <form class="form-horizontal" name="loginForm" ng-submit="login( credentials )">
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" id="username" class="form-control" placeholder="usuário" ng-model="credentials.username" autofocus>
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" id="password" class="form-control" placeholder="senha" ng-model="credentials.password">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
