<ul class="nav nav-pills navigation">
    <li><a ui-sref="root.lista" href="#/">Meus Chamados</a></li>
    <li><a ui-sref="root.selecao" href="#/selecao">Abertura de Chamado</a></li>
    <li><a target="_blank" href="assets/Catalogo_Servicos_Detalhado.pdf">Baixar Catálogo de Serviços</a></li>
    <li><a target="_blank" href="https://www.mppe.mp.br/helpdesk/">Acesso ao Antigo Helpdesk</a></li>

    <li class="pull-right" uib-dropdown>
        <a href id="dropdown-toggle" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-user"></span> {{ session.name }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown-toggle">
            <li role="menuitem">
                <a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Sair</a>
            </li>
        </ul>
    </li>

</ul>
