<div class="panel panel-danger" ng-repeat="( categoryName, servicesByCategory ) in services | groupBy: 'categoryName'">
    <div class="panel-heading">
        <h4>{{ categoryName }}</h4>
    </div>

    <div class="panel-body center-block">
        <ul class="rig">
            <li ng-repeat="service in servicesByCategory">
                <div class="" uib-tooltip="{{ service.detail }}" tooltip-placement="bottom" tooltip-class="customClass" style="width: 200px; height: 125px;">
                    <a ui-sref="root.cadastro( { service : service } )" href="#/cadastro">
                        <img src="img/{{ service.id }}.png" alt="{{ service.id }} - {{ service.name }}" width="200" height="125">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
