.form-azul {
    background-color: blue;
}

.form-center{
    position: absolute;
    height: 200px;
    width: 175px;
    /* background:red; */
    top:calc(50% - 200px/2); /* height divided by 2*/
    left:calc(50% - 175px/2); /* width divided by 2*/
}

.mppelogo {
    max-width: 170px;
    width: 170px;
    height: 84px;
}