﻿
<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MPPE - MP Van</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        {{currentUser.firstName}} {{currentUser.lastName}} ({{currentUser.username}}) <span class="sr-only">({{currentUser.username}})</span>
                    </a>
                </li>
                <li class="active">
                        <a [routerLink]="['/login']">Logout</a>
                </li>
                    <!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Bildirimler <span class="badge">0</span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Music</span> sayfası <span class="badge">Video</span> sayfasında etiketlendi</a></li>
						<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Music</span> sayfasında iletiniz beğenildi</a></li>
						<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Video</span> sayfasında iletiniz beğenildi</a></li>
						<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Game</span> sayfasında iletiniz beğenildi</a></li>
					</ul>
				</li>
				<li class="active"><a href="#">Ana Sayfa <span class="sr-only">(current)</span></a></li> -->
				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{currentUser.username}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#delete">Excluir</a></li>
						<li class="divider"></li>
						<li><a href="#exit">Sair</a></li>
					</ul>
				</li> -->
			</ul>
			<!-- <form class="navbar-form navbar-right search-form" role="search">
				<input type="text" class="form-control" placeholder="Search" />
			</form> -->
		</div>
	</div>
</nav>

<div class="row">
    <div class="col-md-12 no-padding">
        <agm-map [latitude]="mkr.lat" [longitude]="mkr.lng" [zoom]="zoom">
            <!-- <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng">
            </agm-marker> -->
            <agm-marker [latitude]="mkr.lat" [longitude]="mkr.lng" [label]="mkr.label">
                </agm-marker>
            </agm-map>
    </div>
</div>

<div class="flutuante">
    <h6>
        {{ veiculo.label }} - {{ veiculo.nome }} ({{ veiculo.placa }})
    </h6>
</div>
